---
layout: page
title: Cumulative fatalities and conflict frequeny
permalink: /cumulative-fatalities-frequency/
bar: vert
nav_order: 1
category: yearly breakdown 1989-2023
order: 2
panel1: 
  - type: img
    src: /assets/images/countries_by_year/cumsum/cum_deaths/2023.png
    alt: A
  - type: img
    src: /assets/images/countries_by_year/cumsum/cum_events/2023.png
    alt: B
panel2: 
  - type: img
    src: /assets/images/countries_by_year/cumsum/top10_cum_death/top10.png
    alt: Cumulative deaths across years 1989 - 2023
    attrs: 'data-behavior="enlarge"'
  - type: img
    src: /assets/images/countries_by_year/cumsum/top10_cum_events/top10.png
    alt: Cumulative conflict frequency across years 1989 - 2023
    attrs: 'data-behavior="enlarge"'
---



<p>
This section provides an overview of the <i>total number of deaths</i> and <i>number of conflicts</i> <strong>accumulated</strong> from <strong>1989 to 2023</strong>. 
Each bar represents the raw annual count of <strong><i>accumulated deaths (left) and conflict occurrences (right) </i></strong> across countries that experienced violence during this period.
</p>


&emsp;

{% include panel.html layout="col-side-by-side" cells=page.panel1 %}


&emsp;

<h3>Cumulative trends</h3>
<p>
  The plots below show the cumulative trends for the top ten countries that 
  experienced <strong><i>the highest number of fatalities (left) and the most frequent conflicts (right)</i></strong> between 1989 and 2023. 
  The color coding for each country is consistent across the plots. Click on any plot to view it in more detail.
</p>

<p>&nbsp;&nbsp;&nbsp;</p>


{% include panel.html layout="col-side-by-side" cells=page.panel2 %}


<script src="https://unpkg.com/@panzoom/panzoom/dist/panzoom.min.js"></script>
<script defer src="{{ '/assets/js/site.js' | relative_url }}"></script>